@CHARSET "UTF-8";
#container {
	height: 530px;
}
#floorplate {
	width: 800px;
	height: 500px;
	
	border: solid 1px #333;
}
#floorplate, #apartments {
	float : left;
	position: relative;
}
#apartments {
	width: 180px;
	background-color: #EEE;
	margin-right: 20px;
	
}
.status {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px;
	z-index: 1;
	color: #FFF;
	font-weight: bold;
}
.statusText {
	width: 40px;
	margin-top: 10px;
	margin-left: -2px;
	text-align: center;
	
}
.status.statusAvailable {
	background-image: url(/admin/application/views/apartments/assets/available.png);

}
.status.statusUnavailable {
	background-image: url(/admin/application/views/apartments/assets/unavailable.png);
	
}

.markerMenu {
	
	margin-top: 10px;
	width: 100px;
	padding: 5px;
	background-color: #000;
	margin-left: -25px;
	margin-top: 10px;
	display: none;
}
