@CHARSET "UTF-8";

#uafloorplaneditor .status {
	
	width: 70px;
	height: 70px;
	position: relative;
	text-align:center;
	position: absolute;
	
}

#uafloorplaneditor .status.sold {
	
	background-image: url(/public/images/soldF1.gif);
	color: #FFF;
}

#uafloorplaneditor .status.available, #uafloorplaneditor .status.available.hover {
	
	background-image: url(/public/images/availableF1.gif);
	background-repeat: no-repeat;

}
#uafloorplaneditor .status.available.hover {
	
	background-image: url(/public/images/availableF2.gif);
}
#uafloorplaneditor .status.sold.statusText, #uafloorplaneditor .status.available.statusText {
		color: #000;
		
		
	
}

