@charset "UTF-8";
/* VARIABLES */

@outerWidth: 1200px;

@containerHeight: 35px;
@containerMargin: 12px;

@bodyBackground : #232323;

@black1 : #232323;
@black2 : #313131;
@gold1 : #bcb782;
@gold2 : #ede1cb;

@grey1 : #dedede;
@grey2 : #d7d7d7;
@grey3 : #eeeeee;
@grey4 : #a5a5a5;
@grey5 : #cecece;

@reversed1: #FFF;

@linkF2 : #000;

@searchHeight: 134px;

/* FONT WEIGHTS AND SIZES */
@sectionHeaderSize: 16px;
@fontNormal : 12px;
@fontMedium : 14px;

/* CORE TEMPLATE STYLES */

body {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:62.5%;
	width: 100%;
	height: 100%;
	background-color: @bodyBackground;
	
	background-repeat: repeat-x;

}
/* BASIC HELPER STYLES */
.clear {
	clear:both;
}
.left {
	float: left;
}	
.right {
	float: right;
}

.hover {
	cursor: pointer;
}
h1 {
	
	margin: 0px;
	padding: 0px;
}

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
  behavior: url(/public/css/border-radius.htc);
}

/* MAIN CONTAINER */

#outer {
	width: 100%;
	min-width: @outerWidth;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
	
}

#header {
	height: @containerHeight * 2;
	background-color: @black1;
	
}
#siteLogo {
	
	margin-left: @containerMargin * 2;
	margin-top: @containerMargin * 2;
}
#mainMenu {
	height: @containerHeight * 2;
	background-color: @black2;
	padding-left: @containerMargin * 2;
}
#mainMenu ul {
	display: inline;
	
}
#mainMenu li {
	height: @containerHeight * 2 - @containerMargin * 2;
	display: block;
	float: left;
	border-left: solid 1px @black1;
	padding: @containerMargin * 2 @containerMargin * 2 0 @containerMargin * 2;
	color: #FFF;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}
#mainMenu li a {
		color: #FFF;
		text-decoration: none;
}
#mainMenu li:hover , #mainMenu li.active {
	background-color: @gold1;
	color: @black1;
}
#mainMenu li.active a {
		color: @black1;
}
#mainMenu li img {
	margin-bottom: @containerMargin / 2 ;
}
.mainMenuIcon {
	height: 25px;
	clear: both;
}
#sectionHeader {
	height: @containerHeight * 1.5;
	background-color: @gold1;
	background-image: url(/public/template-core/admin/section-header-background.png);
	background-repeat: repeat-x;
	
}
#sectionHeader .sectionHeaderIcon {
	
	padding: @containerMargin * 1 @containerMargin * 2;
	font-size: @sectionHeaderSize;
	
}
#sectionHeader .sectionHeaderIcon img {
	
	margin-right: @containerMargin;
}
#sectionActions, #sectionActionsSmall {
	height: @containerHeight * 3;
	background-color: @gold1;
	
}
#sectionActionsSmall {
	
	height: @containerHeight;
	background-image: url(/public/template-core/admin/section-actions-background.png);
	background-repeat: repeat-x;
}
#sectionActionsInner {
	background-color: @grey1;
	margin-left: @containerMargin;
	margin-right: @containerMargin;
	height: @containerHeight * 3.5;
	background-image: url(/public/template-core/admin/section-actions-background.png);
	background-repeat: repeat-x;
	position: relative; // so we can set breadcrumbs as absolute
}

#sectionActionsInner .sectionActionsInner {
	
	float: left;
	margin-right: @containerMargin;
	padding: 0px @containerMargin @containerMargin @containerMargin;
}
#sectionActionsInner .sectionActionsInner .icon, #sectionActionsInner .sectionActionsInner .sectionActionText {
	
	text-align: center;
}
#sectionActionsInner .sectionActionsInner .icon {
	margin-top: @containerMargin;
	height: @containerMargin * 4;
}
#sectionActionsInner .sectionActionsInner .sectionActionText, #sectionActionsInner .sectionActionsInner .sectionActionText a {
 	
	font-size: @fontNormal;
	font-weight: bold;
	color: @black1;
}
#sectionActionsInner .sectionActionsInner .sectionActionText a {
	
	text-decoration: none;
}
#sectionActionsInner #breadcrumbs {
	width: 100%;
	position:absolute;
	top: 92px;
	left: 0;
	height: 30px;
	
	background-color: @grey5;
}
#sectionActionsInner #breadcrumbs #breadcrumbsInner {
	padding: @containerMargin;
	
}
#sectionActionsInner #breadcrumbs  a {
	
	color: @black1;
	text-decoration: none;
}

#content {
 	background-color: @grey1;
	margin-left: @containerMargin;
	margin-right: @containerMargin;
	padding: @containerMargin @containerMargin @containerMargin @containerMargin;
	min-height: 300px;
 }

 .tableHeader {
 	background-color: @black1;
	color: #FFF;
	height: 20px;
	padding: 10px 5px;
	font-size: 120%;
	font-weight: bold;
 }
 .tableHeader img {
 	margin: 5px 5px 10px 0px;
 }
 .tableHeader .quickFilter, .tableHeader .clearFilter {
 	
	float: right;
 }
 .tableHeader .clearFilter {
 	margin: 5px 0 0 10px;
 }
.searchPanel {
	background-image: url(/public/template-core/admin/search-panel-background.png);
	height: @searchHeight - @containerMargin * 2;
	padding: @containerMargin;	
	margin-bottom: @containerMargin;
} 
.searchPanelInner {
	
	padding: @containerMargin;
	height: @searchHeight - @containerMargin * 4;
	background-color: @gold2;
	
}
.searchPanel h1 {
	
	font-size: 120%;
}
.formTable {
	
	width: 100%;
	margin-bottom: @containerMargin * 2;
}
.formTable th {

	text-align: left;
	background-color: @grey2;
	padding: 5px 0px 5px 20px;
	font-weight: bold;
	color: @black1;
	font-size: 120%;
}
.formTable tbody tr {
	
	border-bottom: solid 1px @grey2;
}
.formTable td {
	padding: 5px;
	background-color: @grey3;
	font-size: 110%;
}
.formTable td a {
	
	text-decoration: none;
	color: @black1;
	
	
}
.formTable td a:hover {
	
	color: @linkF2;
	
}
.error {
	
	color: #F00;
}
/* TOC PAGES */
#toc {
	margin: @containerMargin 0px 0px 0px;
}
.toc {
	
	float: left;
	border: solid 1px @gold1;
	margin: 0px @containerMargin @containerMargin 0px;
	width: 230px;
	padding: 10px;
	
}
.toc:hover {
	
	background-color: @grey2;
	
}
.tocIcon, .tocText {
	
	float: left;
}
.tocIcon {
	
	width: 50px;
	height: 100px;
}
.tocText {
	width: 180px;
}
/* MAIN SITE FORMS */
.formActions {
	
	height: @containerMargin * 2;
	margin:  @containerMargin * 2 0 @containerMargin * 2 0;
	
}
.formAction {
	
	float: left;
	margin:  0  @containerMargin / 2;
	padding: @containerMargin / 2 @containerMargin @containerMargin / 2 @containerMargin;
	background-color: @black1;
	
}
.formAction, .formAction a {
	color: @reversed1;
	text-decoration: none;
	
}
.formLeft, .formRight {
	
	float: left;
	margin-bottom:  @containerMargin * 2;
}
.formLeft {
	
	width: 250px;
	font-size: @fontNormal;
	font-weight: bold;
	padding-top: 5px;
}
.formRight {
	width: 80%;
}
.formRight .text-field {
	
	width: 350px;
	height: 10px;
	padding: 5px;
	border: solid 1px @grey4;
}
.formRight textarea.text-field {
	height: 50px;
}
.formRight select.text-input  {
	
	height: 20px;
	padding: 2px 0px;
	width: 360px;
}
.formRight .formSubAction {
	
	background-color: @gold1;
	padding: 5px;
	border: solid 1px @black1;
}
.formRight a {
	
	color: @black1;
}


