/* SEPARATE THIS OUT SO THAT ALL APPLICATIONS SHARING THE CORE CAN USE THE SAME CSS */
/* USERS */
.userRoleChecks {
	float: left;
	margin: 0px 20px 10px 0px;
}

/* PROJECTS AND JOBS */
.jobTypeIcon {
	
	float: left;
	margin-right: 5px;
}
/* PHOTOGRAPHY */
.photographyImagePreview {
	
	float: left;
	margin-right: 5px;
}
