html {
	width: 633px;	
}
.clr {
	clear:both;	
}
#content {
	width: 633px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #112d59;
	font-size: 12px;
}
.contentInner {
	width: 633px;
	margin-right: auto;
	margin-left: auto;
}
#mainMenu {
	clear: both;
	margin-bottom: 10px;
	height: 30px;
	background-color: #EEE;
}
.menuItem {
	float: left;
	width: auto;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
	border-right: solid 1px #CCC;
	padding: 0 10px;
}
.menuItem.last {
	border: none;	
}
.menuItem.limited a {
	color: red;	
	
}
.menuItem a {
	color: #112d59;
	text-decoration: none;
	
}
#captions {
	height: 25px;
	background-color: #c7daeb;	
}
.caption, .submenuItem {
	font-weight: bold;
	padding-top: 5px;
	margin-left: 5px;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 12px;
	margin: 0 0 5px 0;
}	
hr {
	margin: 10px 0 10px 0;	
}
#slideshow {
	
	margin-bottom: 10px;	
}
#submenu {
	height: 30px;
background-color: #EEE;
}

.formLeft, .formRight {
	float: left;
}
.formLeft {
	width: 100px;	
}
.formRight {
	width: 380px;
}
#terms {
	font-size: 10px;
	color: #CCC;
}
#submit {
	float: right;
	margin-bottom: 5px;
	margin-left: 10px;
}
#slideshow {
	
	width: 633px;
	height: 422px;
	overflow: hidden;
	position: relative;
}
#slideshowInner {
	
	position: absolute;
}
.slide {
	
	float: left;
}
.text-input {
	background-image: url(../images/formback.png);
	background-repeat: no-repeat;
	background-color: transparent !important;
	height: 19px;
	width: 202px;
	padding-left: 10px;
	border: none;
	margin-bottom: 10px;
	
}
.text-input.error {
	
	background-image: url(../images/formback-error.png);
}
input:focus {
	background-color: transparent !important; 
	 outline: none;
}
