<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Barking bird report test</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />

<style type="text/css">
{% if output != 'HTML' %}
h1 {
	display: none;
}
body {
    margin: 0;
}
{% endif %}

body, * {
    font-family: Arial !important;
}
@media all {
table.table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background: #DDD;
}

table.table-bordered, table.table-bordered th, table.table-bordered td {
    border: 1px solid #777;
}
th, td {
    text-align: right !important;
    padding: 2px;
}
}

body {
	background: #FFF;
}
.add-preview {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
}
.add-preview .headline {
	color: #0000CC;
	line-height: 1.4em;
    text-decoration: underline;
    white-space: nowrap;
}
.add-preview .desc {
	color: #333;
}
.add-preview .link {
	color: #0E8F0E;
}
.money {
	width: 5em;
	text-align: right !important;
}
.number {
	width: 5em;
	text-align: right !important;
}
</style>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
{% if output == 'graph' or output == 'HTML' %}
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = new google.visualization.DataTable();
	
	data.addColumn('date', 'Date');
    data.addColumn('number', 'Clicks');

{% for day in days %}
{% set date = day['date'] | split('-') %}
	data.addRow( [ new Date({{ date[0] }}, {{ date[1] - 1 }}, {{ date[2] }}), {{ day['clicks'] }} ] );
{% endfor %}

    var options = {
	    legend: {position:'none'},
	    colors: ['#058dc7','green'],
	    pointSize: 4
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart1_div'));
    chart.draw(data, options);
}
{% endif %}
</script>

</head>

<body>

{% if output == 'HTML' %}
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Barking bird report test</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<br/><br/><br/><br/>
{% endif %}


<div id="renderArea">

{% if output == 'graph' or output == 'HTML' %}
<div id="chart1_div"></div>
{% endif %}

{% if campaigns %}
<h1>Campaigns summary</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Campaign</th>
		<th>Budget</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Avg CPC</th>
		<th>Cost</th>
		<th>Avg Pos</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
	</tr>
</thead>

<tbody>
{% for campaign in campaigns %}
	<tr>
		<td>{{ campaign.name }}</td>
		<td class="money">${{ campaign.budget | number_format(2, '.', ',') }}</td>
		<td class="number">{{ campaign.clicks }}</td>
		<td class="number">{{ campaign.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * campaign.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ campaign.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="money">${{ campaign.cost }}</td>
		<td class="number">{{ campaign.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ campaign.conversions }}</td>
		<td class="money">${{ ((campaign.conversions == 0) ? 0 : (campaign.cost / campaign.conversions)) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ ((campaign.clicks == 0) ? 0 : (100 * campaign.conversions / campaign.clicks)) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}
</tbody>

<tfoot>
{% for total in totals %}
	<tr>
		<td>{{ total.type }}</td>
		<td class="money">${{ total.budget | number_format(2, '.', ',') }}</td>
		<td class="number">{{ total.clicks }}</td>
		<td class="number">{{ total.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * total.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ total.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="money">${{ total.cost }}</td>
		<td class="number">{{ total.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ total.conversions }}</td>
		<td class="money">${{ ((total.conversions == 0) ? 0 : (total.cost / total.conversions)) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ ((total.clicks == 0) ? 0 : (100 * total.conversions / total.clicks)) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}	
</tfoot>

</table>
{% endif %}


{% if adGroups %}
<h1>Ad Groups</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Campaign</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Avg CPC</th>
		<th>Cost</th>
		<th>Avg Pos</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
	</tr>
</thead>

<tbody>
{% for adGroup in adGroups %}
	<tr>
		<td>{{ adGroup.name }}</td>
		<td class="number">{{ adGroup.clicks }}</td>
		<td class="number">{{ adGroup.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * adGroup.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ adGroup.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="money">${{ adGroup.cost }}</td>
		<td class="number">{{ adGroup.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ adGroup.conversions }}</td>
		<td class="money">${{ ((adGroup.conversions == 0) ? 0 : (adGroup.cost / adGroup.conversions)) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ ((adGroup.clicks == 0) ? 0 : (100 * adGroup.conversions / adGroup.clicks)) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if topAds %}
<h1>Ads Report</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Ad</th>
		<th>% served</th>
		<th>Avg Pos</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
		<th>Cost</th>
	</tr>
</thead>

<tbody>
{% for ad in topAds %}
	<tr>
		<td>
			<div class="add-preview">
			<div class="headline">{{ ad.headline }}</div>
			<div class="desc">{{ ad.description1 }}</div>
			<div class="desc">{{ ad.description2 }}</div>
			<div class="link">{{ ad.displayUrl }}</div>
			</div>
		</td>
		<td class="number">{{ (100 * ad.percentServed) | number_format(2, '.', ',') }}%</td>
		<td class="number">{{ ad.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ ad.clicks }}</td>
		<td class="number">{{ ad.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * ad.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="number">{{ ad.conversions }}</td>
		<td class="money">${{ (ad.conversions == 0) ? 0 : (ad.cost / ad.conversions) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ (ad.clicks == 0) ? 0 : (100 * ad.conversions / ad.clicks) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ ad.cost }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if searchTerms %}
<h1>Search Terms</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Search Term</th>
		<th>Match type</th>
		<th>Ad group</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Avg CPC</th>
		<th>Cost</th>
		<th>Avg Pos</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
	</tr>
</thead>

<tbody>
{% for searchTerm in searchTerms %}
	<tr>
		<td>{{ searchTerm.searchTerm }}</td>
		<td>{{ searchTerm.matchType }}</td>
		<td>{{ searchTerm.adGroup }}</td>
		<td class="number">{{ searchTerm.clicks }}</td>
		<td class="number">{{ searchTerm.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * searchTerm.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ searchTerm.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="money">${{ searchTerm.cost }}</td>
		<td class="number">{{ searchTerm.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ searchTerm.conversions }}</td>
		<td class="money">${{ (searchTerm.conversions == 0) ? 0 : (searchTerm.cost / searchTerm.conversions) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ (searchTerm.clicks == 0) ? 0 : (100 * searchTerm.conversions / searchTerm.clicks) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if keywords %}
<h1>Keywords Report</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Keyword</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Avg CPC</th>
		<th>Avg Pos</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
	</tr>
</thead>

<tbody>
{% for keyword in keywords %}
	<tr>
		<td>{{ keyword.keyword }}</td>
		<td class="number">{{ keyword.clicks }}</td>
		<td class="number">{{ keyword.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * keyword.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ keyword.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="number">{{ keyword.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ keyword.conversions }}</td>
		<td class="money">${{ keyword.cost }}</td>
		<td class="money">${{ (keyword.conversions == 0) ? 0 : (keyword.cost / keyword.conversions) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ (keyword.clicks == 0) ? 0 : (100 * keyword.conversions / keyword.clicks) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if days and output != 'graph' %}
<h1>Dimensions by Day</h1>

<table class="table table-bordered">
<thead>
	<tr>
		<th>Day</th>
		<th>Clicks</th>
		<th>Impr</th>
		<th>CTR</th>
		<th>Avg CPC</th>
		<th>Cost</th>
		<th>Avg Pos</th>
		<th>Conv. (1-per-click)</th>
		<th>Cost / conv. (1-per-click)</th>
		<th>Conv. rate (1-per-click)</th>
	</tr>
</thead>

<tbody>
{% for day in days %}
	<tr>
		<td>{{ day.date }}</td>
		<td class="number">{{ day.clicks }}</td>
		<td class="number">{{ day.impressions | number_format(0, '.', ',') }}</td>
		<td class="number">{{ (100 * day.ctr) | number_format(2, '.', ',') }}%</td>
		<td class="money">${{ day.averageCpc | number_format(2, '.', ',') }}</td>
		<td class="money">${{ day.cost }}</td>
		<td class="number">{{ day.averagePosition | number_format(1, '.', ',')  }}</td>
		<td class="number">{{ day.conversions }}</td>
		<td class="money">${{ (day.conversions == 0) ? 0 : (day.cost / day.conversions) | number_format(2, '.', ',') }}</td>
		<td class="number">{{ (day.clicks == 0) ? 0 : (100 * day.conversions / day.clicks) | number_format(2, '.', ',') }}%</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</div>

</body>

</html>
