<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="http://www.leadmonitor.com.au/_crontasks/analytics/fonts/stylesheet.css" rel="stylesheet" />
<style type="text/css">

html {
    zoom: 0.5; /*workaround for phantomJS2 rendering pages too large*/
}

@media all {
body, * {
     font-family: 'tradegothic_bold_cond_20', Arial;
}
body {
  position: relative;
  padding: 1.5cm 1.5cm 0px 1.5cm;
}

header {
	display: block;
	width:1060.25px;
	height:248px;
	background-color: #ffcb04;
	border: 0 !important;
	padding: 0px;
	margin: 0px;
}

</style>

<header>
</header>