<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="http://www.leadmonitor.com.au/_crontasks/analytics/fonts/stylesheet.css" rel="stylesheet" />
<style type="text/css">

html {
    zoom: 0.50; /*workaround for phantomJS2 rendering pages too large*/
}

@media all {
body, * {
     font-family: 'tradegothic_light', Arial;
     font-size: 9pt;
     line-height: 10.5pt;
     letter-spacing: 0.075em;
     vertical-align: baseline;
}
body {
  position: relative;
  padding: 0px 1.5cm 0px 1.5cm;
}

</style>
<footer>
   <span style="position: relative; top: 0px; padding-left: 350px; background: #ffcb04; font-size: 8px; height: 8px; color: #ffcb04; margin-right: 6px;"> </span> &nbsp;  &nbsp; --pageNum-- | ANALYTICS REPORT
</footer>

