<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="http://www.leadmonitor.com.au/_crontasks/analytics/fonts/stylesheet.css" rel="stylesheet" />
<style type="text/css">

html {
    zoom: 0.80; /*workaround for phantomJS2 rendering pages too large*/
}
#header {
    display: none;
}
@media all {
body, * {
     font-family: 'aurulent_sansregular', Arial;
     font-size: 10px;
     letter-spacing: 0.1em;
}

</style>
<footer>
<p style="font-size: 10px; margin: 0px; padding: 0px; line-height: 13px; font-family: 'aurulent_sansregular', Arial;"><strong>Powered by Barking Bird</strong></p>
<p style="font-size: 10px; margin: 0px; padding: 0px; line-height: 13px; font-family: 'aurulent_sansregular', Arial;">Ground Floor, 10 Grattan St, Prahran, VIC 3181 <strong>E</strong> <a href="mailto:peck@barkingbird.com.au" style="color: #000000; font-family: 'aurulent_sansregular', Arial;">peck@barkingbird.com.au</a> <strong>P</strong> 1300 660 177</p>
</footer>
