<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="http://www.leadmonitor.com.au/_crontasks/analytics/fonts/stylesheet.css" rel="stylesheet" />
<style type="text/css">

html {
    zoom: 0.5; /*workaround for phantomJS2 rendering pages too large*/
}

@media all {
body, * {
     font-family: 'tradegothic_bold_cond_20', Arial;
}
body {
  position: relative;
  padding: 1.5cm 1.5cm 0px 1.5cm;
}
.divider {
	
	width: 100%;
	height: 2px;
	background-color: #ffcb04;
	margin: 10px 0px 10px 0px;
}

</style>
<header>
	<div>
	 <span style="font-family: 'tradegothic_bold_cond_20', Arial; font-size: 34pt; line-height: 35pt; color: #ffcb04">--siteName--</span>
	 <br />
	 <span style="text-transform: uppercase; font-family: 'tradegothic_bold_cond_20', Arial; font-size: 28pt; line-height: 29pt; color: #000000">--startDate-- - --endDate--</span>
	</div>
	<br />
	<div class="devider" style="width: 100%;height: 2px;background-color: #ffcb04;margin: 20px 0px 10px 0px;"></div>
</header>