<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Google Analytics Report for {{ report.siteName }}</title>
    


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="http://www.leadmonitor.com.au/_crontasks/analytics/fonts/stylesheet.css" rel="stylesheet" />

<style type="text/css">

html {
    zoom: 0.55; /*workaround for phantomJS2 rendering pages too large*/
}
#header {
    display: none;
}
@media all {
body, * {
     font-family: 'aurulent_sansregular', Arial;
     font-weight: normal;


}

table.table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background: #d9d9d9;
}

table.table-bordered, table.table-bordered th, table.table-bordered td {
    /*border: 1px solid #777;*/
    border: 1px solid #b2b2b2;
}
th, td {
	font-weight: normal;
	text-align: right !important;
	padding: 5px;
	letter-spacing: 0.1em;
}
th {
	font-weight: normal;
	font-family: 'bebas_neueregular', Arial;
	text-transform: uppercase;
}
tbody tr th {
	font-weight: normal;
	text-transform: none !important;
}
table thead tr th, table thead tr th div,
table thead tr td, table thead tr td div
{
	font-family: 'bebas_neueregular', Arial;
	font-size: 15pt;
	font-weight: normal;
	text-transform: uppercase;
	vertical-align: middle;
}
table tbody tr th, table tbody tr th div, 
table tbody tr td, table tbody tr td div
{
	font-family: 'aurulent_sansregular', Arial;
	font-size: 13pt;
	font-weight: normal;
	vertical-align: middle;
}
 table thead tr td div {
	 
	 vertical-align: top;
 }
/*
table tbody tr td div
{
	float: left;
	
}*/


h1, h2, h3: {
	color: #000000; /* dosn't work with PhantomJS */
	font-family: 'bebasregular', Arial;
	text-transform: uppercase;
	font-weight: normal;
}
h1 {
	
	font-size: 54pt;
	line-height: 56pt;
}
h2 {
	
	font-size: 32pt;
	line-height: 34pt;
	font-family: 'bebas_neueregular', Arial;
	margin: 0px;
    padding: 0px;


}/*
.h1 {
    font-size: 27pt;
    
}

.h2 {
    font-size: 24pt;
    line-height: 26pt;

}
.h3 {
    font-size: 20pt;
}*/
p {
	
	font-size: 15pt;	
	line-height: 17pt;
}
#footer {
    display: none;
    position: fixed;
    top: -100000;
}

hr {
page-break-after:always;
opacity: 0;

}

#logo {
    float: right;
    margin-top: 1cm;
    margin-right: 1cm;
}


/*
#chart1, #chart2 {
    margin: 0;
    padding:0;
    width: 100%;
    height: 10cm;
    text-align: left;
}*/

#chart1_div, #chart2_div
{
margin-left: -85px;
}

.divider {
	
	width: 100%;
	height: 2px;
	background-color: #ffe13e;
	margin: 10px 0px 10px 0px;
}


.cover-heading
{
	font-family: 'bebas_neueregular', Arial;
	color:#000000;
	text-transform:uppercase;
	font-size: 44pt;
	line-height: 46pt;
}


text[text-anchor="start"]
{
	font-family: 'bebas_neueregular', Arial;
	text-transform:uppercase;
	font-size: 15pt;
}
/*
.frontpage p
{
	font-size: 12pt;
	font-family: 'aurulent_sansregular', Arial;
	font-weight: normal;
	
}
*/


</style>


<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://bost.ocks.org/mike/sankey/sankey.js"></script>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Date');
        data.addColumn('number', 'Page views');

{% for row in report.chart('pageviews') %}
	data.addRow( [ {{ row[0] }}, {{ row[1] }} ] );
{% endfor %}

        var options = {
	    title: 'PAGE VIEWS',
	    legend: {position:'none'},
	    colors: ['#000000','black'],
	    pointSize: 6,
	    width: 1250
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart1_div'));
        chart.draw(data, options);

	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Date');
        data.addColumn('number', 'New visits');

{% for row in report.chart('newVisits') %}
	data.addRow( [ {{ row[0] }}, {{ row[1] }} ] );
{% endfor %}

        var options = {
	    title: 'NEW VISITS',
	    legend: {position:'none'},
	    colors: ['#000000','black'],
	    pointSize: 6,
	    width: 1250
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart2_div'));
        chart.draw(data, options);

{% for caption,row in report.histogram %}
	var data = google.visualization.arrayToDataTable([
          ['Duration', 'Visits'],
          ['{{ caption }}', {{ row.visitors }}],
        ]);

        var options = {
	    legend: {position:'none'},
	    colors: ['#000000','black'],
	    hAxis: {maxValue: {{ report.max.visitors }}, textPosition: 'none', gridlines: {color: '#FFF'}, baselineColor: '#FFF'},
	    vAxis: {textPosition: 'none'},
	    chartArea:{left:0,top:0,width:"100%",height:"100%"}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_{{ caption }}_1'));
        chart.draw(data, options)
{% endfor %}
{% for caption,row in report.histogram %}
	var data = google.visualization.arrayToDataTable([
          ['Duration', 'Pageviews'],
          ['{{ caption }}', {{ row.pageviews }}],
        ]);

        var options = {
	    legend: {position:'none'},
	    colors: ['#000000','black'],
	    hAxis: {maxValue: {{ report.max.pageviews }} , textPosition: 'none', gridlines: {color: '#FFF'}, baselineColor: '#FFF'},
	    vAxis: {textPosition: 'none'},
	    chartArea:{left:0,top:0,width:"100%",height:"100%"}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_{{ caption }}_2'));
        chart.draw(data, options)
{% endfor %}
      }
</script>
<body>


<header id="header">
    <img id="logo" src="file://{{ logoPath }}"  />
</header>


<p>
<span class="cover-heading" style="margin-top: 50px; color:#ffcb05;">JUST IN!</span>
<br />
<span class="cover-heading">YOUR ANALYTICS REPORT FOR YOUR
<br />
{{ report.siteName }} WEBSITE
<br />FROM {{ report.startTimestamp|date("d.m.Y") }} TO {{ report.endTimestamp|date("d.m.Y") }}
</span>
</p>

<div class="divider"></div>


<p>Dear {{ report.clientName }},</p>
<p>Please find below your analytics report.</p>
<p>Should you have any queries regarding this report, please do not hesitate to contact us.</p>
<p>Regards,</p>
<p>The Team at Barking Bird.</p>

<div style="margin-top:520px"><img src="file://{{ promoPath }}" id="promotion" width="100%" /></div>
<hr/>


<h2 style='color: #000000;text-transform:uppercase'>Overview of visitors</h2>
<p>Please find below your Google Analytics report for {{ report.siteName }} covering the period of {{ report.startTimestamp|date("d.m.Y") }} to {{ report.endTimestamp|date("d.m.Y") }}.</p>



<div id="chart1_div"></div>

<table class="table table-bordered">
<thead>
<tr>
    <th width="20%"><div style='text-align: left;'>Sessions</div></th>
    <th width="20%"><div style='text-align: left;'>Users</div></th>
    <th width="20%"><div style='text-align: left;'>Page Views</div></th>
    <th width="20%"><div style='text-align: left;'>Avg. Session Duration</div></th>
    <th width="20%"><div style='text-align: left;'>New Visitors</div></th>
</tr>
</thead>
<tbody>
<tr>
    <td><div style='text-align: left;'>{{ total.sessions }}</div></td>
    <td><div style='text-align: left;'>{{ total.users }}</div></td>
    <td><div style='text-align: left;'>{{ total.pageviews }}</div></td>
    <td><div style='text-align: left;'>{{ total.avgSessionDuration }}</div></td>
    <td><div style='text-align: left;'>{{ total.newVisits }}</div></td>
</tr>
</tbody>
</table>
<br />
<div class="divider"></div>

<h2 style='color: #000000;text-transform:uppercase; padding-top: 10px; padding-bottom:10px;'>Daily New Visitors</h2>

<div id="chart2_div"></div>
<div class="divider"></div>
<h2 style='color: #000000;text-transform:uppercase; padding-top: 10px; padding-bottom:10px;'>User Engagement</h2>

<table class="table table-bordered">
<thead>
<tr>
    <th width="20%" class="span2"><div style='text-align: left;'>Visit duration<div></th>
    <th width="30%" class="span5"><div style='text-align: left;'>Visits<div></th>
    <th width="30%" class="span5"><div style='text-align: left;'>Pageviews<div></th>
</tr>
</thead>

<tbody>
{% for caption,row in report.histogram %}
<tr>
    <th><div style='text-align: left;'>{{ caption }}</div></th>
    <td><div style='text-align: left;'>
	<div style='display: inline-block; width: 4ex; text-align: right;'>{{ row.visitors }}</div>
	<div id="chart_{{ caption }}_1" style="display: inline-block; width: 240px; height: 20px;"></div>
    </div></td>
    <td><div style='text-align: left;'>
	<div style='display: inline-block; width: 4ex; text-align: right;'>{{ row.pageviews }}</div>
	<div id="chart_{{ caption }}_2" style="display: inline-block; width: 240px; height: 20px;"></div>
    </div></td>
</tr>
{% endfor %}
</tbody>

</table>
<br />
<div class="divider"></div>


<hr/>
<h2 style='color: #000000;text-transform:uppercase'>Visitor Flow</h2>
<p>
This report shows the most common paths visitors took when navigating through your website.
</p>
{% include 'alluvialchart.twig.html' %}
<hr/>

<h2 style='color: #000000;text-transform:uppercase'>Top Pages Visited</h2>


<p>
This report shows your most visited pages and how visitors are behaving on those pages.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th width="54%" style="vertical-align: top;"><div style='text-align: left;'>Page</div></th>
    <th width="7%" style="vertical-align: top;"><div style='text-align: right;'>Pageviews</div></th>
    <th width="8%" style="vertical-align: top;"><div style='text-align: right;'>Unique Pageviews</div></th>
    <th width="10%" style="vertical-align: top;"><div style='text-align: right;'>Average Time on Page</div></th>
    <th width="8%" style="vertical-align: top;"><div style='text-align: right;'>Entrances</div></th>
    <th width="4%" style="vertical-align: top;"><div style='text-align: right; '>Bounce Rate</div></th>
    <th width="4%" style="vertical-align: top;"><div style='text-align: right; vertical-align: top;'>% Exit</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.pageviews }}</td>
    <td>{{ total.uniquePageviews }}</td>
    <td>{{ total.avgTimeOnPage }}</td>
    <td>{{ total.entrances|number_format(0) }}</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
    <td>{{ total.exitRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topVisited %}
<tr>
    <th><div style='text-align: left;'>{{ row[0:255] }}</div></th>
    <td>{{ row.getPageviews() }}</td>
    <td>{{ row.getUniquePageviews() }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnPage() / 60, row.getAvgTimeOnPage() % 60) }}</td>
    <td>{{ row.getEntrances()|number_format(0) }}</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
    <td>{{ row.getExitRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>





<hr/>


<h2 style='color: #000000;text-transform:uppercase'>Top Traffic Sources</h2>

<p>
This report shows the top websites that sent traffic to your website.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th width="38%"><div style='text-align: left;'>Page</div></th>
    <th width="10%"><div style='text-align: right;'>Visits</div></th>
    <th width="12%"><div style='text-align: right;'>Pages / visits</div></th>
    <th width="16%"><div style='text-align: right;'>Average visit duration</div></th>
    <th width="12%"><div style='text-align: right;'>% New Visits</div></th>
    <th width="16%"><div style='text-align: right;'>Bounce rate</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.visitors }}</td>
    <td>{{ (total.visitors > 0 ? total.pageviews / total.visitors) | number_format(2) }}</td>
    <td>{{ total.avgTimeOnSite }}</td>
    <td>{{ total.percentNewVisits|number_format(2) }}%</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topSources %}
<tr>
    <th><div style='text-align: left;'>{{ row }}</div></th>
    <td>{{ row.getVisitors() }}</td>
    <td>{{ (row.getVisitors() > 0 ? row.getPageViews() / row.getVisitors()) | number_format(2) }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnSite() / 60, row.getAvgTimeOnSite() % 60) }}</td>
    <td>{{ row.getPercentNewVisits()|number_format(2) }}%</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>



<hr/>


<h2 style='color: #000000;text-transform:uppercase'>Top Search Term to Reach Your Site</h2>


<p>
This report shows the top search terms people typed in to find your website.
</p>

<p>
Please note that Google no longer shows search terms for people who are
browsing in &quot;private mode&quot; and instead shows the words &quot;(not provided)&quot; for
these visitors.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th width="38%"><div style='text-align: left;'>Page</div></th>
    <th width="10%"><div style='text-align: right;'>Visits</div></th>
    <th width="12%"><div style='text-align: right;'>Pages / visits</div></th>
    <th width="16%"><div style='text-align: right;'>Average visit duration</div></th>
    <th width="12%"><div style='text-align: right;'>% New Visits</div></th>
    <th width="16%"><div style='text-align: right;'>Bounce rate</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.visitors }}</td>
    <td>{{ (total.visitors > 0 ? total.pageviews / total.visitors) | number_format(2) }}</td>
    <td>{{ total.avgTimeOnSite }}</td>
    <td>{{ total.percentNewVisits|number_format(2) }}%</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topKeywords %}
<tr>
    <th><div style='text-align: left;'>{{ row }}</div></th>
    <td>{{ row.getVisitors() }}</td>
    <td>{{ (row.getVisitors() > 0 ? row.getPageViews() / row.getVisitors()) | number_format(2) }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnSite() / 60, row.getAvgTimeOnSite() % 60) }}</td>
    <td>{{ row.getPercentNewVisits()|number_format(2) }}%</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>



<footer id="footer">
<p style="font-size: 10px;"><strong>Powered by Barking Bird</strong>
<br />
Ground Floor, 10 Grattan St, Prahran, VIC 3181 <strong>E</strong> <a href="mailto:peck@barkingbird.com.au">peck@barkingbird.com.au</a> <strong>P</strong> 1300 660 177</p>

</footer>

</body>

</html>