<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weekly Analytics Report for {{ report.siteName }}</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />

<style type="text/css">
#header {
    display: none;
}
@media all {

table.table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background: #DDD;
}

table.table-bordered, table.table-bordered th, table.table-bordered td {
    border: 1px solid #777;
}
th, td {
    text-align: right !important;
    padding: 2px;
}

h1, h2, h3: {
    color: #058dc7; /* dosn't work with PhantomJS */
}

.h1 {
    font-size: 18pt;
}
.h2 {
    font-size: 16pt;
}
.h3 {
    font-size: 14pt;
}
footer p {
	
	
}
footer a {
	
	color: #000;
}
#footer {
    display: none;
   
    position: fixed;
    top: -100000;
}

hr {
page-break-after:always;
opacity: 0;

}

#logo {
    float: right;
    margin-top: 1cm;
    margin-right: 1cm;
}

body, * {
    font-family: Arial !important;
}

#chart1, #chart2 {
    margin: 0;
    width: 100%;
    height: 10cm;
}

</style>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Date');
        data.addColumn('number', 'Page views');

{% for row in report.chart('pageviews') %}
	data.addRow( [ {{ row[0] }}, {{ row[1] }} ] );
{% endfor %}

        var options = {
	    title: 'Pageviews',
	    legend: {position:'none'},
	    colors: ['#058dc7','green'],
	    pointSize: 4
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart1_div'));
        chart.draw(data, options);

	var data = new google.visualization.DataTable();
	data.addColumn('date', 'Date');
        data.addColumn('number', 'New visits');

{% for row in report.chart('newVisits') %}
	data.addRow( [ {{ row[0] }}, {{ row[1] }} ] );
{% endfor %}

        var options = {
	    title: 'New vistis',
	    legend: {position:'none'},
	    colors: ['#058dc7','green'],
	    pointSize: 4
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart2_div'));
        chart.draw(data, options);

{% for caption,row in report.histogram %}
	var data = google.visualization.arrayToDataTable([
          ['Duration', 'Visits'],
          ['{{ caption }}', {{ row.visitors }}],
        ]);

        var options = {
	    legend: {position:'none'},
	    colors: ['#058dc7','green'],
	    hAxis: {maxValue: {{ report.max.visitors }}, textPosition: 'none', gridlines: {color: '#FFF'}, baselineColor: '#FFF'},
	    vAxis: {textPosition: 'none'},
	    chartArea:{left:0,top:0,width:"100%",height:"100%"}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_{{ caption }}_1'));
        chart.draw(data, options)
{% endfor %}
{% for caption,row in report.histogram %}
	var data = google.visualization.arrayToDataTable([
          ['Duration', 'Pageviews'],
          ['{{ caption }}', {{ row.pageviews }}],
        ]);

        var options = {
	    legend: {position:'none'},
	    colors: ['#058dc7','green'],
	    hAxis: {maxValue: {{ report.max.pageviews }} , textPosition: 'none', gridlines: {color: '#FFF'}, baselineColor: '#FFF'},
	    vAxis: {textPosition: 'none'},
	    chartArea:{left:0,top:0,width:"100%",height:"100%"}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_{{ caption }}_2'));
        chart.draw(data, options)
{% endfor %}
      }
</script>

</head>

<body>


<header id="header">
    <img id="logo" src="file://{{ logoPath }}" />
</header>



<h1 style='color: #058dc7;'>Weekly Analytics Report for {{ report.siteName }}</h1>
<strong>Dear {{ report.clientName }},</strong>

<p>
Please find below your weekly analytics report for {{ report.siteName }} covering the period of {{ report.startDate }} to {{ report.endDate }}.
</p>

<p>
If you have any questions, <a href="mailto:peck@barkingbird.com.au?subject=Re:{{ report.siteName }} Analytics Report">please don’t hesitate to get in contact</a>.
</p>

<p>
The Team at Barking Bird.
</p>










<hr/>


<h2 style='color: #058dc7;'>Overview of visitors to {{ report.siteName }}</h2>
<h2 style='color: #058dc7;'>{{ report.startDate }} to {{ report.endDate }}.</h2>

<p>
This report shows a brief overview of the visitors to your website, how many
repeated and unique pages were viewed, the average time the spent on the
website.
</p>


<div id="chart1_div"></div>

<table class="table table-bordered">
<thead>
<tr>
    <th><div style='text-align: left;'>Pageviews</div></th>
    <th><div style='text-align: left;'>Unique pageviews</div></th>
    <th><div style='text-align: left;'>Avg time on site</div></th>
    <th><div style='text-align: left;'>Unique Visitors</div></th>
    <th><div style='text-align: left;'>New Visitors</div></th>
</tr>
</thead>
<tbody>
<tr>
    <td><div style='text-align: left;'>{{ total.pageviews }}</div></td>
    <td><div style='text-align: left;'>{{ total.uniquePageviews }}</div></td>
    <td><div style='text-align: left;'>{{ total.avgTimeOnSite }}</div></td>
    <td><div style='text-align: left;'>{{ total.visitors }}</div></td>
    <td><div style='text-align: left;'>{{ total.newVisits }}</div></td>
</tr>
</tbody>
</table>



<h2 style='color: #058dc7;'>New Visitors to your site each day</h2>

<div id="chart2_div"></div>

<h2 style='color: #058dc7;'>User Engagement with {{ report.siteName }}</h2>

<table class="table table-bordered">
<thead>
<tr>
    <th class="span2"><div style='text-align: left;'>Visit duration<div></th>
    <th class="span5"><div style='text-align: left;'>Visits<div></th>
    <th class="span5"><div style='text-align: left;'>Pageviews<div></th>
</tr>
</thead>

<tbody>
{% for caption,row in report.histogram %}
<tr>
    <th><div style='text-align: left;'>{{ caption }}</div></th>
    <td><div style='text-align: left;'>
	<div style='display: inline-block; width: 6ex; text-align: right;'>{{ row.visitors }}</div>
	<div id="chart_{{ caption }}_1" style="display: inline-block; width: 340px; height: 20px;"></div>
    </div></td>
    <td><div style='text-align: left;'>
	<div style='display: inline-block; width: 6ex; text-align: right;'>{{ row.pageviews }}</div>
	<div id="chart_{{ caption }}_2" style="display: inline-block; width: 340px; height: 20px;"></div>
    </div></td>
</tr>
{% endfor %}
</tbody>

</table>




<hr/>


<h2 style='color: #058dc7;'>Top Ten Pages Visited</h2>
<h2 style='color: #058dc7;'>{{ report.startDate }} to {{ report.endDate }}.</h2>

<p>
This report shows you the most visited pages on {{ report.siteName }} as well as how visitors are behaving on those pages.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th><div style='text-align: left;'>Page</div></th>
    <th><div style='text-align: left;'>Pageviews</div></th>
    <th><div style='text-align: left;'>Unique Pageviews</div></th>
    <th><div style='text-align: left;'>Average Time on Page</div></th>
    <th><div style='text-align: left;'>Entrances</div></th>
    <th><div style='text-align: left;'>Bounce Rate</div></th>
    <th><div style='text-align: left;'>% Exit</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.pageviews }}</td>
    <td>{{ total.uniquePageviews }}</td>
    <td>{{ total.avgTimeOnPage }}</td>
    <td>{{ total.entrances|number_format(0) }}</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
    <td>{{ total.exitRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topVisited %}
<tr>
    <th><div style='text-align: left;'>{{ row[0:30] }}</div></th>
    <td>{{ row.getPageviews() }}</td>
    <td>{{ row.getUniquePageviews() }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnPage() / 60, row.getAvgTimeOnPage() % 60) }}</td>
    <td>{{ row.getEntrances()|number_format(0) }}</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
    <td>{{ row.getExitRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>





<hr/>


<h2 style='color: #058dc7;'>Top Ten Traffic Sources</h2>
<h2 style='color: #058dc7;'>{{ report.startDate }} to {{ report.endDate }}.</h2>

<p>
This report shows the top 10 websites that sent traffic to {{ report.siteName }}.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th><div style='text-align: left;'>Page</div></th>
    <th><div style='text-align: left;'>Visits</div></th>
    <th><div style='text-align: left;'>Pages / visits</div></th>
    <th><div style='text-align: left;'>Average visit duration</div></th>
    <th><div style='text-align: left;'>% New Visits</div></th>
    <th><div style='text-align: left;'>Bounce rate</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.visitors }}</td>
    <td>{{ (total.visitors > 0 ? total.pageviews / total.visitors) | number_format(2) }}</td>
    <td>{{ total.avgTimeOnSite }}</td>
    <td>{{ total.percentNewVisits|number_format(2) }}%</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topSources %}
<tr>
    <th><div style='text-align: left;'>{{ row }}</div></th>
    <td>{{ row.getVisitors() }}</td>
    <td>{{ (row.getVisitors() > 0 ? row.getPageViews() / row.getVisitors()) | number_format(2) }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnSite() / 60, row.getAvgTimeOnSite() % 60) }}</td>
    <td>{{ row.getPercentNewVisits()|number_format(2) }}%</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>



<hr/>


<h2 style='color: #058dc7;'>Top Ten Search Term to Reach Your Site</h2>
<h2 style='color: #058dc7;'>{{ report.startDate }} to {{ report.endDate }}.</h2>

<p>
This report shows the top 10 search terms people typed in to find {{ report.siteName }}.
</p>

<p>
Please note that Google no longer shows search terms for people who are
browsing in &quot;private mode&quot; and instead shows the words &quot;(not provided)&quot; for
these visitors.
</p>


<table class="table table-bordered">
<thead>
<tr>
    <th><div style='text-align: left;'>Page</div></th>
    <th><div style='text-align: left;'>Visits</div></th>
    <th><div style='text-align: left;'>Pages / visits</div></th>
    <th><div style='text-align: left;'>Average visit duration</div></th>
    <th><div style='text-align: left;'>% New Visits</div></th>
    <th><div style='text-align: left;'>Bounce rate</div></th>
</tr>

<tr>
    <th><div style='text-align: left;'>Total</div></th>
    <td>{{ total.visitors }}</td>
    <td>{{ (total.visitors > 0 ? total.pageviews / total.visitors) | number_format(2) }}</td>
    <td>{{ total.avgTimeOnSite }}</td>
    <td>{{ total.percentNewVisits|number_format(2) }}%</td>
    <td>{{ total.visitBounceRate|number_format(2) }}%</td>
</tr>

</thead>

<tbody>
{% for row in report.topKeywords %}
<tr>
    <th><div style='text-align: left;'>{{ row }}</div></th>
    <td>{{ row.getVisitors() }}</td>
    <td>{{ (row.getVisitors() > 0 ? row.getPageViews() / row.getVisitors()) | number_format(2) }}</td>
    <td>{{ "%02d:%02d"|format(row.getAvgTimeOnSite() / 60, row.getAvgTimeOnSite() % 60) }}</td>
    <td>{{ row.getPercentNewVisits()|number_format(2) }}%</td>
    <td>{{ row.getVisitBounceRate()|number_format(2) }}%</td>
</tr>
{% endfor %}
</tbody>

</table>



<footer id="footer">
<strong>Barking Bird</strong>
<br />

<p>
Ground Floor, 10 Grattan St, Prahran, VIC 3181<br/>
Ph: 1300 660 177 E: <a href="mailto:peck@barkingbird.com.au">peck@barkingbird.com.au</a><br/>
<a href="www.barkingbird.com.au">www.barkingbird.com.au</a><br/>
</p>

</footer>

</body>

</html>
