<!--div id="chart" style="height: 500px;width: 1000px;"></div-->
<style type="text/css">
.node {
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke: #000;
  opacity: .3;
}

.linkExit {
  fill: none;
  stroke: #000;
  opacity: .3;
}

.node {
    stroke: none;
}

</style>

<script type="text/javascript">
var data = {{ report.alluvialJson | raw}};

/* Process Data */

// make a node lookup map
var nodeMap = (function() {
    var nm = {};
    data.times.forEach(function(nodes) {
        nodes.forEach(function(n) {
            nm[n.id] = n;
            // add links and assure node value
            n.links = [];
            n.incoming = [];
            n.nodeValue = n.nodeValue || 0;
        })
    });
    return nm;
})();

// attach links to nodes
data.links.forEach(function(link) {
    nodeMap[link.source].links.push(link);
    nodeMap[link.target].incoming.push(link);
});

// sort by value and calculate offsets
data.times.forEach(function(nodes) {
    var cumValue = 0;
    nodes.sort(function(a,b) {
        if (a.nodeName == '(other)') return 1;
        if (b.nodeName == '(other)') return -1;
        return d3.descending(a.nodeValue, b.nodeValue)
    });
    nodes.forEach(function(n, i) {
        n.order = i;
        n.offsetValue = cumValue;
        cumValue += n.nodeValue;
        // same for links
        var lCumValue;
        // outgoing
        if (n.links) {
            lCumValue = 0;
            n.links.sort(function(a,b) {
                return d3.descending(a.value, b.value)
            });
            n.links.forEach(function(l) {
                l.outOffset = lCumValue;
                lCumValue += l.value;
            });
        }
        // incoming
        if (n.incoming) {
            lCumValue = 0;
            n.incoming.sort(function(a,b) {
                return d3.descending(a.value, b.value)
            });
            n.incoming.forEach(function(l) {
                l.inOffset = lCumValue;
                lCumValue += l.value;
            });
        }
    })
});
data = data.times;

// calculate maxes
var maxn = d3.max(data, function(t) { return t.length }),
    maxv = d3.max(data, function(t) { return d3.sum(t, function(n) { return n.nodeValue }) });

/* Make Vis */

// settings and scales
var w = 900,
    h = 700,
    xMargin = 10,
    gapratio = .3,
    paddingTop = 20
    padding = 30,
    x = d3.scale.ordinal()
        .domain(d3.range(data.length))
        .rangeBands([xMargin, w - xMargin], gapratio, 0),
    y = d3.scale.linear()
        .domain([0, maxv])
        .range([0, h - padding * maxn - paddingTop]),
    line = d3.svg.line()
        .interpolate('basis');
        
// root
var vis = d3.select("body")
  .append("svg:svg")
    .attr("width", w)
    .attr("height", h);

// gradient for bars
var grad = vis.append('linearGradient')
    .attr('id', 'gradient')
    .attr('x1', 0)
    .attr('x2', 0)
    .attr('y1', "0%")
    .attr('y2', "100%");
grad.append('stop')
	.attr('offset', "0%")
	.attr('stop-color', '#D9EEC9');
grad.append('stop')
	.attr('offset', "100%")
	.attr('stop-color', '#85CA54');

// time slots
var times = vis.selectAll('g.time')
    .data(data)
  .enter().append('svg:g')
    .attr('class', 'time')
    .attr("transform", function(d, i) { return "translate(" + x(i) + ",0)" });

var captions = times.selectAll('text.time-caption')
    .data(function(d) { return [d] })
  .enter().append('svg:text')
    .attr('class', 'time-caption')
    .attr('y', 15)
    .text(function (time) {
    	var views = d3.sum(time, function (node) {
    		return node.nodeValue;
    	});
    	var exits = d3.sum(time, function (node) {
    		return node.exits;
    	});
    	return views+' views, '+exits+' exits';
    });

//node bars
var nodes = times.selectAll('g.node')
    .data(function(d) { return d })
  .enter().append('svg:g')
    .attr('class', 'node');

nodes.append('svg:rect')
    .attr('fill', 'url(#gradient)')
    .attr('y', function(n, i) {
        return y(n.offsetValue) + i * padding + paddingTop;
    })
    .attr('width', x.rangeBand())
    .attr('height', function(n) { return y(n.nodeValue) });

nodes
  .append('svg:text')
    .attr('y', function(n, i) {
        return y(n.offsetValue) + i * padding + 13 + paddingTop;
    })
    .attr('x', function(n, i) {
        return 2;
    })
    .style("fill", "#000")
    .text(function(n) { return n.short });

nodes
  .append('svg:text')
    .attr('y', function(n, i) {
        return y(n.offsetValue) + i * padding + 13*2 + paddingTop;
    })
    .attr('x', function(n, i) {
        return 2;
    })
    .style("fill", "#444")
    .style("font-weight", "bold")
    .text(function(n) { return n.nodeValue + ' visits' });

var linksExit = nodes.selectAll('path.linkExit')
    .data(function(n) { return [n] })
    .enter().append('svg:path')
	    .attr('class', 'linkExit')
	    .attr('d', function(source, i) {
 	        var gapWidth = x(1) - x(0) - x.rangeBand(),
	            bandWidth = x.rangeBand(),
	            sourcey = y(source.offsetValue) + 
	            	paddingTop +
	                source.order * padding +
	                y(source.nodeValue) -
	                y(source.exits)/2,
	            targety = sourcey + 2,
	            sourcex = x(0) + x.rangeBand() - xMargin;
	            points = [
	                [ sourcex, sourcey ],
	                [ sourcex + 5, sourcey ],
	                [ sourcex + 15, targety ],
	                [ sourcex + 20, targety ]
	            ];
		return line(points);
    })
    .style('fill', '#F55')
    .style('fill-opacity', 0.4)
    .style('stroke', '#F55')
    .style('stroke-width', function(n) { return y(n.exits) });

// links
var links = nodes.selectAll('path.link')
    .data(function(n) { return n.links || [] })
  .enter().append('svg:path')
    .attr('class', 'link')
    .attr('d', function(l, i) {
        var source = nodeMap[l.source],
            target = nodeMap[l.target],
            gapWidth = x(1) - x(0) - x.rangeBand(),
            bandWidth = x.rangeBand(),
            sourcey = y(source.offsetValue) + 
            	paddingTop +
                source.order * padding +
                y(l.outOffset) +
                y(l.value)/2,
            targety = y(target.offsetValue) +
            	paddingTop +
                target.order * padding + 
                y(l.inOffset) +
                y(l.value)/2,
            points = [
                [ x(0) + x.rangeBand() - xMargin, sourcey ],
                [ x.rangeBand() + gapWidth/2, sourcey ],
                [ x.rangeBand() + gapWidth/2, targety ],
                [ x(1), targety ]
            ];
        return line(points);
    })
    .style('fill', '#8baeb1')
    .style('fill-opacity', 0.8)
    .style('stroke', '#8baeb1')
    .style('stroke-width', function(l) { return y(l.value) });
	
</script>
