<footer>
<p style="font-size: 10px;">
<strong>Barking Bird</strong><br />
Ground Floor, 10 Grattan St, Prahran, VIC 3181<br />
Ph: 1300 660 177 E: <a href="mailto:peck@barkingbird.com.au" style="color: #000">peck@barkingbird.com.au</a><br />
<a href="http://www.barkingbird.com.au" style="color: #000;text-decoration:none">www.barkingbird.com.au</a><br />
</p>
</footer>
