html{}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

#outer {
	width: 1029px;
	margin-right: auto;
	margin-left: auto;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	background-color: #212121;
}
.clear {
	clear: both;	
}
h1 {
	font-size: 35px;
	margin-bottom: 10px;
	letter-spacing: .04em;
}
h2 {
	font-size: 25px;
	margin-bottom: 10px;
}
p {
font-size: 14px;	
}
strong {
	font-weight: bold;
}	
#contentUpper, #contentLower, #contentFooter {
	
	width: 1029px;
	background-color: #666666;
	background-image: url(home/content-upper.png);
	background-repeat: repeat-y;
}
#contentLower {
		background-color: #333333;
	background-image: url(home/content-lower.png);
}
#contentFooter {
	background-image: url(home/content-footer.png);
	padding-top: 20px;
	height: 235px;
	background-repeat: no-repeat;
	background-color: transparent;
}

#contentUpperInner, #contentLowerInner, #contentFooterInner {
	
	margin-left: 45px;
	width: 900px;
}
.videoButton, .footerButton {
	width: 274px;
	float: left;
	position: relative;
}
.videoButton.margin {
	margin-right: 35px;	
}

.videoButtonTop, .videoButtonTopF2 {
	background-image: url(home/video-buttonF1.png);
	background-repeat: no-repeat;
	height: 37px;
	display: block;
	text-align: center;
}
.videoButtonTop img {
	padding-top: 8px;
}
 .videoButtonTopF2 {
	 background-image: url(home/video-buttonF2.png);
 }
 .videoButtonBlurb {
		margin-top: 10px; 
		
		
 }
 
.blurbHeader {
	font-size: 16px;
	margin-bottom: 10px;
}
#view1, #view2, #view3 {
	
	position:absolute;	
	top: 135px;
	display: none;
}

.blurbCopy {
	height: 80px;	
}
.blurbMore {
	text-align: right;	
}
.blurbMore a {
	color:#8ec63f;
	text-decoration: none;
}
#introducing {
	margin-top: 40px;
	margin-bottom: 20px;	
}
.footerButton .header {
	margin-bottom: 10px;
}
.footerButton a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;	
}
.footerButton.footer1, .footerButton.footer2, .footerButton.footer3 {
	color: #333333;
}

.footerButton.footer1 {
	width: 330px;
}
.footerButton.footer2 {
	width: 330px;
}
.footerButton.footer3 {
	width: 180px;
}