@CHARSET "UTF-8";

/* PLUGIN STYLES */
#uagallery_shim {
	
	height: 0px;
}

.thumbnail {
	
	background-image: url(images/loading.gif);
	background-position:center 150px;
	background-repeat: no-repeat;
	
	
}


#uagallery_subnavigation {
	position: absolute;
	height: 20px;
	
}
.uagallery_subnavigation, .uagallery_subnavigation a {
	font-size: 14px;
	color: #333;
	padding: 0px 10px 0px 10px;
}
.uagallery_subnavigation.active {
	
	color: #FFF;
}
#uagallery_thumbnailnavigation {
	
	position: absolute;
	
}
#uagallery_thumbnailnavigation_wrapper {
	
	position: relative;
}
.uagallery_thumbnailnavigation {
	
	position: absolute;
	width: 90px;
	height: 60px;
	text-align: center;
	background-color: #EEE;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
}

._uagallery_thumbnailnavigation {
	
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 90px;
	height: 60px;
	text-align: center;
	overflow: hidden;
	background-color: #EEE;
	
}
.uagallery_thumbnailnavigation.active{
	
	border: solid 1px #333;
	
	
}
.uagallery_thumbnailnavigation.hover {
	
	border: solid 1px #b1001c;
	-moz-box-shadow: 5px 5px 6px #333;
	-webkit-box-shadow: 5x 5px 6px #333;
	box-shadow: 5px 5px 6px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#333333');

}

