/* ADD NEW ADDRESSES */
#newaddresses {
	
	height: 200px;
	width: 500px;
	
}



/* TAG EDITING */

.tagCloud {
	
	width: auto;
	padding: 5px;
	background-color: #333;
	color: #FFF;
	float: left;
	margin-right: 5px;
}
.textTagEdit {
	
	height: 10px;
}
#suburbSelector {
	
	
	
}
.suburbSelectorHeader {
	
	
	background-color: #333;
	color: #FFF;
	
	
}
.suburbSelectorHeader, .suburbSelectorContent {
	float: left;
	width: 200px;
	margin-right: 5px;
	padding: 10px;
}
.suburbSelectorContent {
	
	width: 220px;
}
#suburbSelectorFinished {
	
	width: 450px;
	background-color: #000;
	text-align: center;
	height: 20px;
	color: #FFF;
}
#suburbSelectorFinished a {
	padding-top: 5px;
	color: #FFF;
}
