/* CSS Document */
body {
	width:800px;
	margin:0;
	padding:0;
	border:0;
	
	color: #333;
}
#content {
	width: 760px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	padding: 10px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#content, td {
	color: #333;
	font-size: 12px;
}
img a {
	border: none;	
}
.contentInner {
	width: 100%;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;	
	
}
#warleighLogo {
	margin-top: 10px;
	margin-bottom: 10px;	
}
#content .contentInner h1 {
	font-size: 14px;
}
#slideshow {
margin-bottom: 10px;	
}
.bodytext, form {
	text-align:left;	
	padding: 5px;
}
label, .text-input {
	
	margin-bottom: 5px;	
}
label {
	display: block;	
}
.text-input  {
	width: 600px;
	border: 1px solid #221918;
 }
 #submit {
		background-color: #FFF;
		color: #000;
		width: 150px;
		padding: 10px;
		margin: 10px 0 10px 0; 
		text-align: center;
 }
input.error, select.error {
		background-color: #db1f12; 
 }
 #thankYouMessage {
		padding: 10px; 
 }
 #slideshow {
		
 }
